.gpt3__header {
  display: flex;
}

.gpt3__header-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

.gpt3__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 3.875rem;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.gpt3__header-content p {
  font-family: var(--font-family);
  font-size: 1.25rem;
  line-height: 27px;
  color: var(--color-text);
  margin-top: 1.5rem;
}

.gpt3__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}

.gpt3__header-content__input input {
  background-color: var(--color-footer);
  color: #fff;
  border: 2px solid var(--color-footer);
  border-radius: 5px 0 0 5px;
  font-size: 0.9rem;
  line-height: 27px;
  flex: 2;
  width: 100%;
  padding: 0.5rem;
  outline: none;
}

.gpt3__header-content__input button {
  background-color: #ff4820;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 27px;

  flex: 0.6;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
  border: none;
}

.gpt3__header-content__people {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.gpt3__header-content__people img {
  width: 181px;
  height: auto;
}

.gpt3__header-content__people p {
  font-size: 0.75rem;
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 38px;
  color: #fff;
  text-align: center;
}

.gpt3__header-image {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.gpt3__header-image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1050px) {
  .gpt3__header {
    flex-direction: column;
  }

  .gpt3__header-content {
    margin: 0 0 3rem;
  }
}

@media (max-width: 768px) {
  .gpt3__header h1 {
    font-size: 2.5625rem;
    line-height: 60px;
  }

  .gpt3__header p {
    font-size: 1rem;
    line-height: 24px;
  }

  .gpt3__header-content__people {
    flex-direction: column;
  }

  .gpt3__header-content__people p {
    margin: 0;
  }

  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
    font-size: 1rem;
    line-height: 24px;
  }
}

@media (max-width: 500px) {
  .gpt3__header h1 {
    font-size: 2.25rem;
    line-height: 48px;
  }

  .gpt3__header p {
    font-size: 0.875rem;
    line-height: 24px;
  }

  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
    font-size: 0.7rem;
    line-height: 16px;
  }
}
